includes:
  - vendor/bovigo/assert/src/main/resources/phpstan/bovigo-assert.neon
parameters:
  inferPrivatePropertyTypeFromConstructor: true
  level: 7
  paths:
      - ./src
  ignoreErrors:
      # False positive
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::get#'
