includes:
  - vendor/bovigo/assert/src/main/resources/phpstan/bovigo-assert.neon
parameters:
  inferPrivatePropertyTypeFromConstructor: true
  level: 7
  paths:
      - ./src
  ignoreErrors:
      # False positive
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::get#'
      # Explicit tests
      -
        message: '#target of class stubbles\\webapp\\routing\\Route constructor expects \(callable\(\): mixed\)|string|\stubbles\\webapp\\Target, 500 given#'
        path: src/test/php/routing/RouteTest.php

